<p>Dear <%= @user.login %>.</p>
<p>We have received a request to change your password via our Lost Password interface.</p>
<p>Please follow <a href="<%=@domain%>/account/password_change/<%=@token1%>">this link</a> to change your password.</p>
<p>You will be asked for a confirmation code. Your confirmation code is:</p>
<blockquote>
  <p><strong>Confirmation Code:</strong> <%= @token2 %></p>
</blockquote>
<p>Please contact <a href="mailto:<%=Configuration.site_admin%>"><%= Configuration.site_name %> Support</a> if you have not recently requested a
   password change.</p>
<%= @sig %>   