<%= stylesheet_link_tag 'article' %>
<% @page_title = "Viewing Article Index" %>
<div class="block_title"><h2>View Articles Index</h2></div>
<div class="step">
  <p>This page lists all our articles ordered by article category.</p>
</div>
<div class="block_title"><h2>Articles</h2></div>
<div id="articles" class="step">
  <% for category in @categories %>
    <% if category.approved_articles.length > 0 %>
      <div>
        <div style="float:right" class="small"><%= pluralize(category.approved_articles.length, 'Article') %></div>
        <div class="articleTitle"><%= category.name %></div>
      </div>
      <ul>
        <% for article in category.approved_articles %>
          <li id="article"><%= link_to article.title, article_view_url(:id => article.id, :title => article.title) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<% if @tag_cloud.length > 0 %>
  <div class="block_title"><h2>Article Tag Cloud</h2></div>
  <div class="step">
    <p>The article tag cloud groups similiarly related articles under the same keyword. Click on a keyword to view corresponding tagged articles.</p>
  </div>
  <div class="block_title"><h2>Cloud</h2></div>
  <div class="step">
    <% for tag in @tag_cloud %>
      <%= render_article_tag_cloud(tag, @min_count, @max_count) %>
    <% end %>
  </div>
<% end %>