<%= start_tabnav :account %>
  <div class="block_title"><h2>My Recent Videos</h2></div>
  <div class="step clearix media">
    <% unless @recent.blank? %>
      <%= render_video_block(@recent) %>
    <% else %>
      <div class="step_text">You haven't uploaded any videos yet.</div>
    <% end %>
  </div>
  <div class="block_title"><h2>My Top Rated Videos</h2></div>
  <div class="step clearfix media">
    <% unless @top_rated.blank? %>
      <%= render_video_block(@top_rated) %>
    <% else %>
      <div class="step_text">Videos not rated yet.</div>
    <% end %>
  </div>
  <div class="block_title"><h2>My Popular Videos</h2></div>
  <div class="step clearfix media">
    <% unless @most_popular.blank? %>
      <%= render_video_block(@most_popular) %>
    <% else %>
      <div class="step_text">Videos not viewed yet.</div>
    <% end %>
  </div>
  <div class="block_title"><h2>My Most Talked About Videos</h2></div>
  <div class="step clearfix media">
    <% unless @talked_about.blank? %>
      <%= render_video_block(@talked_about) %>
    <% else %>
      <div class="step_text">No comments have been made on your videos yet.</div>
    <% end %>
  </div>
<% end_tabnav %>