<%= start_tabnav :account %>
<%= render :partial => '/medias/disk_space' %>
<div class="block_title"><h2>Step 1 - Upload Videos</h2></div>
<div class="step">
  <p>Click the Browse button to select your video files.</p>
  <p>You can upload multiple files when Browsing by selecting more than one file to upload in the current folder.</p>
  <p><strong>Only <%= Configuration.supported_video_types %> will be accepted.</strong></p>
  <div align="center"><%= render :partial => '/shared/upload', :locals => {:upload_action => '/videos/upload_video/'} %></div>
</div>
<%= render :partial => '/medias/upload_job_list', :locals => {:jobs => @jobs}  %>
<div class="block_title"><h2>Step 2 - Press F5 to view and Categorise Your Uploaded Videos</h2></div>
<% form_tag({:action => 'categorise'}, {:id => 'cat_videos'}) do -%>
  <div class="step clearfix">
    <p>All uploaded and un-categorised videos will be listed here.
      These videos will not be visible until they have been categorised.
    Press the refresh button on your browser or the F5 key to display any newly uploaded videos.</p>
    <p><input type="checkbox" id="toggle" name="toggle" checked="checked" onclick="CheckAllCheckboxes('catUploads','toggle');"> Mark all videos to save.</p>
    <%= render :partial => '/videos/render_uncated', :locals => {:videos => @unsorted_videos} %>
  </div>
  <div class="block_title"><h2>Step 3 - Save Video Details</h2></div>
  <div class="step">
    <p>
      Once all video titles, descriptions, tags and categories are set press the <strong>Save Uploaded Videos</strong> button to finally save these.
      Please remember that the more information you provide on your videos (title, description and tags) the easier they are to find.
    </p>
    <%= submit_tag "Save Uploaded Videos" %>
  </div>
<% end %>
<%= end_tabnav %>