<div class="crumbs" style="margin-top:1.1em;">
  <span class="arrow">&rarr;</span>  <%= link_to "Forums", home_path %> <span class="arrow">&rarr;</span>
  <%= link_to h(@forum.name), forum_url(:id=>@forum) %> 
</div>
<div class="block_title"><h2 id="new_topic">Replying to a post</h2></div>
<p class="subtitle">by <%= h @post.user.login %></p>
<br />
<form name="forumform" id="forumform" action="<%=reply_topic_path(@forum, @topic, @post)%>" method="post">
  <%= render :partial => '/posts/post_form', :locals => {:forum => @forum,
                                                         :topic => @topic } %>
</form>
                                                         