<% @page_title = 'Lost Password Retrieval' %>
<div class="block_title"><h2><%= @page_title %></h2></div>
<div class="step">
  <% form_tag do %>
    <p>If you remember your username but not your password then type in your username in the box below. 
       An email will be sent to your registered email address with your new password.</p>
    <p><label for="username">User Name</label><br/>
       <%= text_field_tag 'login' %></p>
    <p>If you can't remember your username then try entering your email address below (and keep User Name above blank). We'll attempt to lookup the username associated
       with your email address and email you a new password</p>
    <p><label for="email">Email</label><br/>
       <%= text_field_tag 'email' %></p>
    <p><%= submit_tag 'Reset and Email New Password' %></p>
    <p>If you can't remember either then please contact <a href="mailto:<%= Configuration.site_admin %>"> the website administrators</a> with
       your full details.</p>
  <% end %>
  <p></p>
</div>